@font-face {
    font-family: 'Myriad Pro Black SemiExtended';
    src: url('MyriadPro-BlackSemiExt.eot');
    src: url('MyriadPro-BlackSemiExt.eot?#iefix') format('embedded-opentype'),
    url('MyriadPro-BlackSemiExt.woff') format('woff'),
    url('MyriadPro-BlackSemiExt.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }
@font-face {
        font-family: 'Nautilus Pompilius Regular';
        src: url('NautilusPompilius.eot');
        src: url('NautilusPompilius.eot?#iefix') format('embedded-opentype'),
        url('NautilusPompilius.woff') format('woff'),
        url('NautilusPompilius.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
    }
@font-face {
        font-family: 'Core Rhino 35 Light W01 Regular';
        src: url('Core Rhino 35 Light W01 Regular.eot');
        src: url('Core Rhino 35 Light W01 Regular') format('embedded-opentype'),
        url('Core Rhino 35 Light W01 Regular.woff') format('woff'),
        url('Core Rhino 35 Light W01 Regular.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
    }
    @font-face {
        font-family: 'Core Rhino 45 Regular W01 Rg';
        src: url('Core Rhino 45 Regular W01 Rg.eot');
        src: url('Core Rhino 45 Regular W01 Rg') format('embedded-opentype'),
        url('Core Rhino 45 Regular W01 Rg.woff') format('woff'),
        url('Core Rhino 45 Regular W01 Rg.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
    }
    body {
      background: url(Images/BackGround.png);
     }
.higherMenu ul {
        width: 100%;
        text-align: center;
        font-size: 16px;
        line-height: 18px;
        padding-bottom: 25px;
        padding-top: 25px;
    }
.higherMenu ul li {
    float: none;
    display: inline-block;
}
.higherMenu ul a {
    color: #9d6043;
    text-align:center;   
    text-decoration: none;
    font-family: 'Myriad Pro Black SemiExtended';
    text-transform: uppercase;
}
.gl {
  width: 100%;
  padding-top: 50px;
}
.logo {
    font-family: 'Nautilus Pompilius Regular';
    text-decoration: none;
    font-size: 60px;
    line-height: 18px;
    color: #864729;
  }
  .conf{
    font-family: 'Core Rhino 45 Regular W01 Rg';
    font-size: 20px;
    line-height: 18px;
    padding-left: 80px; 
    padding-top: 34px;
    color: #663016;
  }
  .Geo {
    line-height: 30px;
    /*margin: "top";
    padding: 0px 0px 40px;*/
  }
  .geotag1 span{
    position: relative;
    padding-left: 35px;
    font-family: 'Core Rhino 45 Regular W01 Rg';
    font-size: 16px;
    line-height: 18px;
    color: #9d6043;
  }
  .geotag1 span::before {
    content: "";
    background: url(Images/Geotag.png);
    position: absolute;
    width: 19px;
    height: 26px;
    left: 0px;
  }
  .geotag2 {
    float: left;
    font-family: 'Core Rhino 45 Regular W01 Rg';
    font-size: 16px;
    line-height: 18px;
    color: #9d6043;
  }
  .Phone {
    padding-left: 20px;
  }
  .phone1 span{
    position: relative;
    padding-left: 10px;
    font-family: 'Core Rhino 35 Light W01 Regular';
    font-size: 24px;
    line-height: 33px;
    color: #9d6043;
  }
  .phone1 span::before {
    content: "";
    background: url(Images/Phone.png);
    position: absolute;
    width: 20px;
    height: 30px;
    left: 0px;
  }
  .phone2 {
    font-family: 'Core Rhino 35 Light W01 Regular';
    font-size: 24px;
    line-height: 33px;
    color: #9d6043;
    padding-left: 20px;
  }
  .banner img {
    display: block;
    width: 100%;
    height: 100%;
    padding-top: 75px;
    padding-bottom: 40px;
  }
  .left-menu-wrap ul{
    margin-left: 0;
    padding-left: 0;
  }
  .left-menu-wrap li{
    list-style-type: none;
  }